/**
 * $JA#COPYRIGHT$
 */

.acm-cta {
	&.style-5 {
		padding: @t3-global-padding*2 0;
		.cta-content {
			float: left;
			.cta-title {
				margin-top: 0;
			}
			.cta-intro {}
		}
		.btn {
			float: right;
			margin: @t3-global-margin 0;
		}
	}
}