/* -------------------
   General Pagination
--------------------- */
div.pagination {
    clear: both;
    text-align: center;
    margin: 15px 0 0 0;
}
 
div.pagination p.counter {
    font-style: italic;
}
 
div.pagination ul {
    list-style: none;
    padding: 0;
}
 
div.pagination ul li {
    list-style: none;
    display: inline;
    padding: 0 5px 0 5px;
}