/**
 * $JA#COPYRIGHT$
 */
 
// VARIABLES & MIXINS
// ------------------
@import "../vars.less"; // Modify this for custom colors, font-sizes, etc


// CONTAINER TABS
// ------------------
.acm-container-tabs {
  .container-tabs-nav {
    border-bottom: 1px solid @gray-lighter;

    .nav-tabs {
      border: 0;

      li {
        width: 100%;

        @media (min-width: @screen-xs) {
          margin-right: @t3-global-margin;
          width: auto;
        }

        a {
          border: 0;
          border-bottom: 1px solid @gray-lighter;
          color: @text-color;
          font-weight: @font-weight-semibold;
          outline: none;
          margin: 0;
          padding-left: 0;
          padding-right: 0;
          position: relative;

          @media (min-width: @screen-sm) {
            border: 0;
          }

          &:after {
            background: @gray-light;
            bottom: -1px;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            width: 0px;
            .transition(width 0.35s);
          }

          &:hover {
            background-color: transparent;

            &:after {
              width: 100%;
            }
          }
        }
        
        &.active a {
          background: transparent;
          border-bottom: 1px solid @brand-primary;
          color: @brand-primary;
        }  
      }      
    }
  }

  .tab-pane {
    padding: (@t3-global-padding * 3) 0 0;
  }


  // CONTAINER TABS STYLE2
  // ---------------------
  .style-2 {
    .container-tabs-nav {
      background: @gray-lightest;
      border-top: 1px solid @gray-lighter;

      .nav-tabs {
        padding-top: 5px;

        @media (min-width: @screen-xs) {
          border-left: 1px solid @gray-lighter;
          padding-top: 0;
        }

        li {
          margin: 0;

          @media (min-width: @screen-xs) {
            border-right: 1px solid @gray-lighter;
          }

          a {
            border: 1px solid @gray-lighter;
            font-size: @font-size-small;
            font-weight: @font-weight-bold;
            margin-bottom: 5px;
            padding: (@t3-global-padding / 2) @t3-global-padding;
            text-transform: uppercase;

            @media (min-width: @screen-xs) {
              border: 0;
              margin: 0;
            }

            &:after {
              background: url(../images/arrow-up.gif) no-repeat left top;
              bottom: -1px;
              display: none;
              left: 50%;
              height: 7px;
              margin-left: -6px;
              width: 13px;
            }

            &:hover, &:focus, &:active {
              color: @brand-primary;
            }

          }
        
          &.active {
            a {
              border: 1px solid @brand-primary;

              @media (min-width: @screen-xs) {
                border: 0;
              }
             
              @media (min-width: @screen-xs) {
                &:after {
                  display: block;
                }
              }
              
            }
          }
        }
      }
    }
  }
}



