/**
 * $JA#COPYRIGHT$
 */
 
// VARIABLES & MIXINS
// ------------------
@import "../../../less/vars.less"; // Modify this for custom colors, font-sizes, etc


// -------------------------------
// FOOD MENU STYLE
// -------------------------------
.section-inner {
  background-size: cover;
  background-position: center center;
}

.acm-menu {
	&.full-width .menu-items > .row {
		margin-left: 0;
		margin-right: 0;
	}
}


// Import Style Less
// --------------------------
@import "style-1.less"; // Import file style-1.less
@import "style-2.less"; // Import file style-2.less
@import "style-3.less"; // Import file style-3.less