/**
 * $JA#COPYRIGHT$
 */
 
// VARIABLES & MIXINS
// ------------------
@import "../../../less/vars.less"; // Modify this for custom colors, font-sizes, etc


.uber-cliens {
	&.multi-row {
		.row {
			border-bottom: 1px solid @t3-border-color;

			.client-item {
				padding-top: @t3-global-padding;
				padding-bottom: @t3-global-padding;
				border-right: 1px solid @t3-border-color;
				min-height: 100px;
				line-height: 100px;
				text-align: center;

				img {
					display: inline-block;
        	.transition(all 500ms);
				}

				&:last-child {
					border-right: 0;
				}

				&:hover {
					img {
						.opacity(1) !important;
					}
				}
			}

			&:last-child {
				border-bottom: 0;
			}
		}

		&.style-dark {
			.row {
				border-color: #2c353b;

				.client-item {
					border-color: #2c353b;
				}
			}
		}
	}

	&.img-grayscale {
		.client-item span {
			position: relative;

			@media (max-width: @screen-md-max) {
				width: 100% !important;
			}
		}

		.client-img {
			display: inline-block;
			line-height: 1;
			width: 100%;

			img {
				max-height: 100px;
			}

			@media (max-width: @screen-md-max) {
				display: block;
			}
		}
	}

	.client-item {
		@media (max-width: @screen-xs-max) {
			padding-top: @t3-global-padding;
			padding-bottom: @t3-global-padding;
			width: 100% !important;
			text-align: center;

			img {
				display: inline-block;
			}
		}

		&:hover .client-img {
			img {
				.opacity(1) !important;
			}
		}
	}
}