.uber-book {
  text-align: right;
  
  
  
  
  
}
.uber-book .bk-list {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.uber-book .bk-list li {
  position: relative;
  width: 300px;
  float: right;
  z-index: 1;
  margin-right: -150px;
  right: 50%;
  -webkit-perspective: 1800px;
  -moz-perspective: 1800px;
  perspective: 1800px;
}
.uber-book .bk-list li:last-child {
  margin-left: 0;
}
.uber-book .bk-info {
  position: relative;
  margin-top: 440px;
}
.uber-book .bk-info h3 {
  padding: 25px 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 26px;
}
.uber-book .bk-info h3 span:first-child {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
  color: #777;
}
.uber-book .bk-info p {
  line-height: 24px;
  color: #444;
  min-height: 160px;
}
.uber-book .bk-info button.bk-active,
.uber-book .bk-info button:active {
  background-color: #026899;
}
.uber-book .no-touch .bk-info button:hover,
.uber-book .bk-info button.bk-active {
  background-color: #026899;
}
.uber-book .bk-list li .bk-book {
  position: absolute;
  width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform .5s;
}
.uber-book .bk-list li .bk-book.bk-bookdefault:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  -moz-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, 0, 35deg);
}
.uber-book .bk-list li .bk-book > div,
.uber-book .bk-list li .bk-front > div {
  display: block;
  position: absolute;
}
.uber-book .bk-list li .bk-front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0, 0, 20px);
  -moz-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}
.uber-book .bk-list li .bk-front > div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.uber-book .bk-list .bk-cover h2 {
  margin: 0;
}
.uber-book .bk-list li .bk-page {
  -webkit-transform: translate3d(0, 0, 19px);
  -moz-transform: translate3d(0, 0, 19px);
  transform: translate3d(0, 0, 19px);
  display: none;
  width: 295px;
  height: 390px;
  top: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 9;
}
.uber-book .bk-list li .bk-front,
.uber-book .bk-list li .bk-back,
.uber-book .bk-list li .bk-front > div {
  width: 300px;
  height: 400px;
}
.uber-book .bk-list li .bk-left,
.uber-book .bk-list li .bk-right {
  width: 40px;
  right: -20px;
}
.uber-book .bk-list li .bk-left h2,
.uber-book .bk-list li .bk-right h2 {
  margin: 0;
}
.uber-book .bk-list li .bk-top,
.uber-book .bk-list li .bk-bottom {
  width: 295px;
  height: 40px;
  top: -15px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uber-book .bk-list li .bk-back {
  -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  -moz-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 0 3px 3px 0;
}
.uber-book .bk-list li .bk-cover-back {
  background-color: #000;
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
.uber-book .bk-list li .bk-right {
  height: 390px;
  top: 5px;
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
  -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uber-book .bk-list li .bk-left {
  height: 400px;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  -moz-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
}
.uber-book .bk-list li .bk-top {
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  -moz-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
}
.uber-book .bk-list li .bk-bottom {
  -webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
  -moz-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
  transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
}
.uber-book .bk-list li .bk-viewinside .bk-front {
  -webkit-transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
  -moz-transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
  transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
}
.uber-book .bk-list li .bk-book.bk-viewinside {
  -webkit-transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
  -moz-transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
  transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
}
.uber-book .bk-list li .bk-book.bk-viewback {
  -webkit-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
  -moz-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
  transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
}
.uber-book .bk-list li .bk-viewback .bk-back {
  z-index: 10;
}
.uber-book .bk-list li .bk-page,
.uber-book .bk-list li .bk-right,
.uber-book .bk-list li .bk-top,
.uber-book .bk-list li .bk-bottom {
  background-color: #fff;
}
.uber-book .bk-list li .bk-front > div {
  border-radius: 3px 0 0 3px;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}
.uber-book .bk-list li .bk-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: -1px;
  width: 1px;
}
.uber-book .bk-list li .bk-cover:after,
.uber-book .bk-list li .bk-back:after {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}
.uber-book .bk-list li .bk-back:after {
  right: auto;
  left: 10px;
}
.uber-book .bk-left h2 {
  width: 400px;
  height: 40px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}
.uber-book .bk-content {
  position: absolute;
  top: 30px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  padding: 30px;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
}
.uber-book .bk-content-current {
  opacity: 1;
  pointer-events: auto;
}
.uber-book .bk-content p {
  padding: 0 0 10px;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.uber-book .bk-page nav {
  display: block;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  right: 26px;
  bottom: 26px;
}
.uber-book .bk-page nav span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #aaa;
  background: #f0f0f0;
  border-radius: 50%;
  font-size: 11px;
}
.uber-book .bk-page .number {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
}
.uber-book .bk-page .btn {
  display: inline-block;
  margin-top: 110px;
  margin-right: 26px;
}
.uber-book .book-1 .bk-cover {
  background-repeat: no-repeat;
  background-position: 10px 40px;
}
.uber-book .book-1 .bk-cover h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.uber-book .book-1 .bk-cover h2 span:first-child,
.uber-book .book-1 .bk-left h2 span:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-left: 20px;
}
.uber-book .book-1 .bk-cover h2 span:first-child {
  display: block;
}
.uber-book .book-1 .bk-cover h2 span:last-child,
.uber-book .book-1 .bk-left h2 span:last-child {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
.uber-book .book-1 .bk-content p {
  font-family: Georgia, Times, "Times New Roman", serif;
}
.uber-book .book-1 .bk-left h2 {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding-left: 10px;
  text-align: left;
}
.uber-book .book-1 .bk-back p {
  color: #fff;
  font-size: 13px;
  padding: 40px;
  text-align: center;
  font-weight: 700;
}
.uber-book .no-csstransforms3d .bk-list li .bk-book > div,
.uber-book .no-csstransforms3d .bk-list li .bk-book .bk-cover-back {
  display: none;
}
.uber-book .no-csstransforms3d .bk-list li .bk-book > div.bk-front {
  display: block;
}
.uber-book .no-csstransforms3d .bk-info button,
.uber-book .no-js .bk-info button {
  display: none;
}