// ------------------------------------
// FEATURES INTRO STYLE 9
// ------------------------------------
.acm-features {
	&.style-9 {
    .font-icon {
      float: left;
      font-size: 75px;
      margin-right: @t3-global-margin;
      width: 80px;
      height: 80px;
    }

    .img-icon {
      float: left;
      margin-right: @t3-global-margin;
      max-width: 80px;
    }

    // features description
    .features-description {
      width: 100%;
    }

    .features-item {
      margin-bottom: @t3-global-margin*2;

      p {
        width: 90%;
      }
    }
  }
}


