// ------------------------------------
// FEATURES INTRO STYLE 2
// ------------------------------------
.acm-features {
  &.style-2 {
    .features-description {
      margin: 0 auto (@t3-global-margin*3);
      text-align: center;
    }

    .row + .row {
    	margin-top: @t3-global-margin;
    }
  }
}

