// ------------------------------------
// FEATURES INTRO STYLE 3
// ------------------------------------
.acm-features {
	&.style-3 {
		.font-icon {
		  float: left;
		  font-size: @font-size-h1;
		  margin-right: @t3-global-margin;
		  width: 80px;
		  height: 80px;
		}
		.img-icon {
		  float: left;
		  margin-right: @t3-global-margin;
		  max-width: 80px;
		}

		.row + .row {
    	margin-top: @t3-global-margin;
    }
	}
}

