/**
 * $JA#COPYRIGHT$
 */
 
// VARIABLES & MIXINS
// ------------------
@import "../vars.less"; // Modify this for custom colors, font-sizes, etc


.home-clean {
  // ---------------------------------------------------------
  // CLEAN STYLE
  // ---------------------------------------------------------
  .clean {
    .back {
      display: block;
      margin-bottom: @t3-global-margin*2;

      &:hover, &:focus, &:active {
        outline: none;
      }
    }
  }
}