/**
 * $JA#COPYRIGHT$
 */
 
// VARIABLES & MIXINS
// ------------------
@import "../vars.less"; // Modify this for custom colors, font-sizes, etc


.home-wedding {

  // ---------------------------------------------------------
  // WEDDING STYLE
  // ---------------------------------------------------------
  // Used for Wedding Layout.

  .item-grid-view .item-image {
    border: 1px dashed @gray-light;
    display: block;
    padding: (@t3-global-padding / 4);
  }

  .post-sticky {
    background: @brand-primary;
    color: @white;
  }
// End
}