// RTL STYLES
// ------------------------------------------------------
.ja-topheader .languageswitcherload ul.lang-inline li {
  display: inline-block;
}

.t3-module.menu ul li a,
.t3-module.menu ul li a:hover  {
  background-position: right 11px;
  margin-left: 0;
  margin-right: @T3globalMargin/2;
  padding-left: 0;
  padding-right: 17px;
}

article img[align="left"], 
article .pull-left.item-image, 
.img_caption.left, 
.article-intro img[align="left"], 
.article-intro .pull-left img {
  margin: 0 0 @T3globalMargin @T3globalMargin;
}

.ja-slidereadmore a.readon {
  background-position: left center !important;  
  padding-left: 18px;
  padding-right: 0 !important;
}

p a.mod-articles-category-title, 
ul.category-module li p a.mod-articles-category-title {
  background-position: left center !important;  
  display: inline-block; 
  padding-left: 18px;
  padding-right: 0 !important;
}

.navbar-inner .right-mainnav {
  background-image: url(../../images/right-mainnav_rtl.png);
}

.navbar-inner .left-mainnav {
  background-image: url(../../images/left-mainnav_rtl.png);
}

.ja-contentslider-right, 
.ja-contentslider-left {
  background-image: url(../../images/button-nav_rtl.png) !important;
}

.readmore a.btn span {
  background-position: left center; 
  padding-right: 0;
  padding-left: @T3globalPadding;
}

.ja-slidenews-item a.readon {
  background-position: left center; 
  padding-right: 0 !important;
  padding-left: @T3globalPadding;
}

.ja-cp-controls > div.ja-cp-next{
  background-position: 0 top !important;
  &:hover, &:focus, &:active {
    background-position: 0 -90px !important;
  }
}

.ja-ss-btns {
  bototom: 31px !important;
}

.ja-ss-btns span.ja-ss-next {
  background-position: 0px top !important;
  &:hover, &:focus, &:active {
    background-position: 0 -30px !important;
  }
}

.ja-ss-thumbs .ja-ss-thumb.active:before {
  background-image: url(../../images/active-thumbs_rtl.png) !important;
  right: -9px !important;
}

.ja-ss-thumbs-wrap {
  background-image: url(../../images/slideshow-bgdesc_rtl.png) !important;
}

.ja-cp-main .ja-cp-item {
  background-position: right top !important;
  &:hover, &:focus, &:active {
    background-position: right -30px !important;
  }
}

.t3-megamenu .mega-nav .dropdown-submenu > a:after {
  direction: ltr;
}

.btn-vertical {
  background-position: 0px 0px !important;
}

.btn-vertical:hover, 
.btn-vertical:focus, 
.btn-vertical:active, 
.btn-vertical.active {
  background-position: 0px -30px !important;
}

.t3-spotlight .ja-contentslider-right, 
.t3-spotlight .ja-contentslider-left {
  background-image: url(../../images/button-nav-vertical.png) !important;
}
#fancybox-wrap{
	#fancybox-left-ico,
	#fancybox-right-ico{

	}
	#fancybox-title{
		#fancybox-title-float-left{
			padding: 0 0 0 15px;
			background: url('../../images/fancybox.png') -55px -90px no-repeat;
		}
		#fancybox-title-float-right{
			padding: 0 0 0 15px;
			background: url('../../images/fancybox.png') -40px -90px no-repeat;
		}
	}
}

#Kunena div.kblock span.ktoggler {
  float: left;
  right: auto;
  left: 15px;
}

#Kunena .kforum-pathway .path-element, 
#Kunena .kforum-pathway-bottom .path-element {
  background-image: url('../../images/arrow5-rtl.png');
  background-position: right center;
  padding-left: 3px;
  padding-right: 12px;
  display: inline-block;
}

#Kunena div.kblock span.select-toggle {
  float: left;
  right: auto;
  left: 15px;
  top: 10px;
}

#Kunena div.ktopic-title-cover {
  text-align: right;
}

#Kunena div.k_guest {
  text-align: right;
}

#Kunena tr td.kprofileboxcnt {
  text-align: right;
}

#Kunena #ktab li, #Kunena #ktab div.moduletable ul.menu li {
  float: right;
  margin-left: 5px !important; 
  margin-right: 0 !important;
}

#Kunena .k-profile span.kright,
body #Kunena #ktop span.ktoggler {
  left: 10px;
  right: auto;
}

#Kunena #ktab {
  margin-left: 20px;
  margin-right: 0;
}

#Kunena dl.tabs {
  float: right;
}
#Kunena dl.tabs dt {
  float: right;
}

#Kunena .path-element-first {
  padding: 1px 22px 1px 3px;
  background-position: right center;
  display: inline-block;
}

.ja-healineswrap {
  direction: ltr;

  em,.ja-headlines  {
    direction: rtl;
  }
}

.article-aside .btn-group.pull-right {
  float: left;
}