
// Accent colors
// -------------------------
@baseColor:                       #1188cc;
@highlightColor:                  #77bb44;
@CommentColor:                    @red;
// Scaffolding
// -------------------------


// Links
// -------------------------


// Typography
// -------------------------



// Navbar   
// -------------------------


// Buttons
// -------------------------


// Forms
// -------------------------


// Hr border color
// -------------------------

//
// T3 LOGO
// --------------------------------------------------


//
// JA MITIUS CUSTOM VARIABLES
// --------------------------------------------------

// Tabs Modules Styles
// -------------------------
@TabsAccordionActive:            @baseColor;
@TabsBackgroundActive:            @baseColor;

