.uber-cliens.multi-row .row {
  border-bottom: 1px solid #dadedf;
}
.uber-cliens.multi-row .row .client-item {
  padding-top: 26px;
  padding-bottom: 26px;
  border-right: 1px solid #dadedf;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
}
.uber-cliens.multi-row .row .client-item img {
  display: inline-block;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.uber-cliens.multi-row .row .client-item:last-child {
  border-right: 0;
}
.uber-cliens.multi-row .row .client-item:hover img {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.uber-cliens.multi-row .row:last-child {
  border-bottom: 0;
}
.uber-cliens.multi-row.style-dark .row {
  border-color: #2c353b;
}
.uber-cliens.multi-row.style-dark .row .client-item {
  border-color: #2c353b;
}
.uber-cliens.img-grayscale .client-item span {
  position: relative;
}
@media (max-width: 1199px) {
  .uber-cliens.img-grayscale .client-item span {
    width: 100% !important;
  }
}
.uber-cliens.img-grayscale .client-img {
  display: inline-block;
  line-height: 1;
  width: 100%;
}
.uber-cliens.img-grayscale .client-img img {
  max-height: 100px;
}
@media (max-width: 1199px) {
  .uber-cliens.img-grayscale .client-img {
    display: block;
  }
}
@media (max-width: 767px) {
  .uber-cliens .client-item {
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100% !important;
    text-align: center;
  }
  .uber-cliens .client-item img {
    display: inline-block;
  }
}
.uber-cliens .client-item:hover .client-img img {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}