.uber-footer {
	&.footer-4 {
    	background-position: center bottom !important;
        background-repeat: no-repeat;
        background-size: 100% auto !important;

        hr {
        	display: none;
        }

        .wrap.breadcrumb {
        	background: url(../images/breadcrumb-snow.png) repeat-x left top;
        	padding-top: @t3-global-padding * 2;
        	margin-top: -(@t3-global-margin/2);

        	.breadcrumb {
        		background: none;
        	}
        }
	}
}