
// Accent colors
// -------------------------
@baseColor:                       #c33;
@highlightColor:                  #f76000;
@CommentColor:                    #1188cc;

// Scaffolding
// -------------------------


// Links
// -------------------------
@linkColor:             @baseColor;
@linkColorHover:        @linkColor;

// Typography
// -------------------------



// Navbar   
// -------------------------


// Buttons
// -------------------------


// Forms
// -------------------------


// Hr border color
// -------------------------

//
// T3 LOGO
// --------------------------------------------------


//
// JA MITIUS CUSTOM VARIABLES
// --------------------------------------------------

// Tabs Modules Styles
// -------------------------
@TabsAccordionActive:            #1188cc;
@TabsBackgroundActive:            @baseColor;

