//
// Layouts
// --------------------------------------------------

.wrap {
  width: auto;
  clear: both;
}

.main-content {
  margin-left: @baseLineHeight * 1.5;
}

.main-content1 {
  margin-right: @baseLineHeight * 1.5;
}

.main-slideshow {
  margin-left: ( @baseLineHeight * 1.5 );
}

.main-siderbar {
  margin-right: ( @baseLineHeight * 1.5 );
}

.main-siderbar1 {
  margin-left: ( @baseLineHeight * 1.5 );
}

.no-sidebar .main-content {
  margin-left: @baseLineHeight * 1.5;
  margin-right: @baseLineHeight * 1.5;
}