/**
 * $JA#COPYRIGHT$
 */

@import "vars.less"; // Modify this for custom colors, font-sizes, etc
.ja-slidenews-item img {
  border: none;
}

.ja-slidenews-item img[align="left"] {
  margin-right: 15px !important;
}

.ja-slidenews-item img[align="right"] {
  margin-left: 15px !important;
}

.ja-slidenews-item {
  border-bottom: solid 1px @grayLighter;
  padding: (@baseLineHeight - 5) 0;
}

.ja-slidenews-item.last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.ja-slidenews-item .ja-title {
  color: @grayDarker;
}

.ja-slidenews-item .ja-title:hover,
.ja-slidenews-item .ja-title:focus,
.ja-slidenews-item .ja-title:active {
  color: @linkColorHover;
}

.ja-slidenews-item .ja-createdate {
  color: @grayLight;
  display: block;
}

.ja-slidenews-item a.readon {
  background: url(../images/readmore.png) no-repeat left center;
  color: @grayLight;
  display: inline-block;
  font-size: 12px;
  padding-left: 18px !important;
}

.ja-slidenews-item a.readon:hover,
.ja-slidenews-item a.readon:focus,
.ja-slidenews-item a.readon:active {
  background-image: url(../images/readmore-hover.png);
  color: @baseColor;
}
