// ------------------------------------------------
// TAB STYLE 2
// ------------------------------------------------
.acm-tabs {
  .style-2 {
    // Tab Control
    .nav-tabs {
      li {
        a {
          background-color: @brand-primary;
          border: 0;
          color: @white;
          margin: 0;
          padding: @grid-gutter-width 0;
          position: relative;
          text-align: center;

          p {
            font-family: @font-family-sans-serif;
            font-weight: @font-weight-normal;
            margin-bottom: 0;

            &:first-child {
              text-transform: uppercase;
            }
          }

          &:focus,
          &:hover,
          &:active {
            background-color: darken(@brand-primary, 5%);
            outline: 0;
          }
        }

        &.active {
          a {
            background-color: darken(@brand-primary, 10%);

            &:after {
              border-width: 26px;
              border-color: darken(@brand-primary, 10%) transparent transparent transparent;
              border-style: solid;
              content: "";
              left: 50%;
              margin-left: -13px;
              position: absolute;
              top: 100%;
              z-index: 6;
            }
          }
        }
      }
    }

    // Tab Content
    .tab-content {
      overflow: hidden;
    }

    // Map
    .map-container {
      margin: 0;
    }
  }
}


  
