/**
 * $JA#COPYRIGHT$
 */

// Mixins
// --------------------------------------------------

.translateY(@y) {
  -webkit-transform: translateY(@y);
      -ms-transform: translateY(@y); // IE9 only
       -o-transform: translateY(@y);
          transform: translateY(@y);
}