/**
 * $JA#COPYRIGHT$
 */
 

// ------------------------------------------------------
// POPUP WINDOWS STYLES
// ------------------------------------------------------

// Main Body (component.php)
// ----------------------------------------
.window {
  // Reset the body
  body {
    height: auto;
    padding: 0;
    margin: 0;
  }

  .window-mainbody {
    padding: 20px;
  }

  // Fix bug for Virtuemart
  &.com_virtuemart {
  	#filterbox table {
  		width: 100%;

			select, input {
				display: inline-block;
			}
  	}
  }
}

