/**
 * $JA#COPYRIGHT$
 */

.uber-contact-info {

	// Style 3
	&.style-3 {
		.clearfix();

		.container {
			position: relative;
		}

		.info {
			margin-top: @t3-global-margin;
		}

		.info-list {
			margin-bottom: @t3-global-margin;

			@media (min-width: @screen-md-min) {
				margin-bottom: 0;
			}
		}
	}
}