body {
  background-image:  url(../../../images/themes/green/body_bg.jpg);
}


// ---------------------------------------------------------
// HEADER
// ---------------------------------------------------------
.logo-image a {
  background-image: url(../../../images/themes/green/logo.png);
}


.ja-footer .ja-slidenews-item .ja-title {
  color: @baseColor;
}


// ---------------------------------------------------------
// MISC.
// ---------------------------------------------------------
p a.mod-articles-category-title:hover,
p a.mod-articles-category-title:focus,
p a.mod-articles-category-title:active,
ul.category-module li p a.mod-articles-category-title:hover {
  background-image: url(../../../images/themes/green/readmore-hover-bg.png) ;
}

// ---------------------------------------------------------
// JOOMLA PAGE.
// ---------------------------------------------------------
// Article Readmore 
.readmore a.btn:hover span,
.readmore a.btn:focus span,
.readmore a.btn:active span{
  background-image: url(../../../images/themes/green/readmore-hover-bg.png) !important;
}

// Login
// ----------------
#login-form ul li a:hover,
#login-form ul li a:focus,
#login-form ul li a:active {
  background-image: url(../../../images/themes/green/bullet-hover.png) ;
}

.login-wrap .other-links ul li a:hover,
.login-wrap .other-links ul li a:focus,
.login-wrap .other-links ul li a:active {
  background-image: url(../../../images/themes/green/bullet-hover.png);
}

// Contact
// -----------
.contact-links .nav-list > li > a:hover,
.contact-links .nav-list > li > a:focus,
.contact-links .nav-list > li > a:active,
.contact-links .nav-tabs.nav-stacked > li > a:hover,
.contact-links .nav-tabs.nav-stacked > li > a:focus {
  background-image: url(../../../images/themes/green/bullet-hover.png);
}


// Module 
// -------------------
.t3-module.menu ul li a:hover {
  background-image: url(../../../images/themes/green/bullet-hover.png) !important;
}

.t3-module.menu ul li li a:hover,
.t3-module.menu ul li.active a,
.t3-module.menu ul li li.active a,
.t3-module.menu ul li.active li.active a,
.t3-module.menu ul li.active li.active li.active a,
.t3-module.menu ul li.active li.active li a:hover,
.t3-module.menu ul li.active ul li a:hover {
  background-image: url(../../../images/themes/green/bullet-hover.png);
}

.t3-module.title-yellow .module-title span, 
.module.title-yellow .module-title span,
.t3-module.black .module-title span, 
.module.black .module-title span {
  background: @baseColor;
}

.t3-module.black .module-ct a.readon:hover,
.t3-module.black .module-ct a.readon:focus,
.t3-module.black .module-ct a.readon:active {
  color: @baseColor;
}

.t3-module .ja-slidenews-item .ja-title:hover {
  color: @baseColor !important;
}

  .mega-nav > li a:hover,
  .mega-nav > li a:focus,
  .mega-nav > li a:active,
  .dropdown-menu .mega-nav > li a:hover,
  .dropdown-menu .mega-nav > li a:focus,
  .dropdown-menu .mega-nav > li a:active {
    color: @baseColor !important;
  }


// Bulletin style
// --------------
ul.bulletin li .mod-articles-category-hits strong {
  background: @highlightColor;
}

ul.bulletin li .mod-articles-category-hits strong:after {
  border-left: 6px solid @highlightColor;
}

// Module JA LOGIN
// -------------------
#login-form ul li a:hover,
#login-form ul li a:focus,
#login-form ul li a:active {
  background-image: url(../../../images/themes/green/bullet-hover.png) !important;
}

// Module JA Slideshow Lite
// -------------------
.ja-ss-btns span {
  background-image: url(../../../images/themes/green/slideshow-nav.png) !important;
}

.ja-ss-thumbs .ja-ss-thumb.active:before {
  background-image: url(../../../images/themes/green/active-thumbs.png) !important;
}

// Module JA Accordion
// -------------------
h3.ja-accordion-title.active span{
  background: @TabsAccordionActive !important;
}

// Module JA Slidenews
// -------------------

.ja-slidenews-item a.readon:hover,
.ja-slidenews-item a.readon:focus,
.ja-slidenews-item a.readon:active {
  background-image: url(../../../images/themes/green/readmore-hover.png) !important;
}

// Module JA ContentSlider
// -------------------
.ja-slidereadmore a.readon:hover,
.ja-slidereadmore a.readon:focus,
.ja-slidereadmore a.readon:active {
  background-image: url(../../../images/themes/green/readmore-hover-bg.png) !important;
}

.t3-spotlight .ja-contentslider-right, .t3-spotlight .ja-contentslider-left {
  background-image: url(../../../images/themes/green/button-nav-vertical.png) !important;
}

// Module JA Tabs
// --------------
body .default .ja-tabs-title-top ul li.active h3, 
body .default .ja-tabs-title-top ul li.firstactive h3, 
body .default .ja-tabs-title-top ul li.lastactive h3 {
  background: @TabsBackgroundActive;
}

// NAV
// ------------------------------------------------------
// Hover
.ja-mainnav .navbar .nav > li > a:focus,
.ja-mainnav .navbar .nav > li > a:hover {
  color: @navbarLinkColorHover;
}

// Active nav items
.ja-mainnav .navbar .nav > .active > a,
.ja-mainnav .navbar .nav > .active > a:hover,
.ja-mainnav .navbar .nav > .active > a:focus {
  color: @navbarLinkColorActive;
}

// ---------------------------------------------------------
// K2 Page
// ---------------------------------------------------------

div.catItemReadMore a:hover {
  background-image: url(../../../images/themes/green/readmore-hover-bg.png);
}

// Component: Itemlist view (generic)
// --------------
div.genericItemReadMore a:hover {
  background-image: url(../../../images/themes/green/readmore-hover-bg.png);
}

// Author latest
// ---------------
div.itemRelated ul li a:hover,
div.itemAuthorLatest ul li a:hover {
  background-image: url(../../../images/themes/green/bullet-hover.png);
}

// Block image
// ---------------

.latestView h2.latestItemTitleList a:hover,
.latestView h2.latestItemTitleList a:focus,
.latestView h2.latestItemTitleList a:active {
 background-image: url(../../../images/themes/green/bullet-hover.png);
}

.latestView .latestItemReadMore:hover {
 background-image: url(../../../images/themes/green/readmore-hover-bg.png);
}

// Archives
// -------------------
div.k2ArchivesBlock ul li a:hover {
 background-image: url(../../../images/themes/green/bullet-hover.png);
}

// Modules: mod_k2_user (mod_k2_login will be removed in v2.6)
// -------------------

div.k2LoginBlock ul li a:hover,
div.k2LoginBlock ul li a:focus,
div.k2LoginBlock ul li a:active {
 background-image: url(../../../images/themes/green/bullet-hover.png);
}

// Top Commenters
// -------------------

div.k2UserBlock ul li a:hover,
div.k2UserBlock ul li a:focus,
div.k2UserBlock ul li a:active {
 background-image: url(../../../images/themes/green/bullet-hover.png);
}

// Modules: mod_k2_users
// -------------------

div.k2UsersBlock ul li ul.ubUserItems li a:hover,
div.k2UsersBlock ul li ul.ubUserItems li a:focus,
div.k2UsersBlock ul li ul.ubUserItems li a:active {
 background-image: url(../../../images/themes/green/bullet-hover.png);
}

// Tag item read more
.tagItemReadMore a:hover,
.tagItemReadMore a:focus,
.tagItemReadMore a:active {
 background-image: url(../../../images/themes/green/readmore-hover-bg.png);
}

// Anchor link to comments
div.userItemReadMore a:hover {
 background-image: url(../../../images/themes/green/readmore-hover-bg.png);
}

div.catItemCommentsLink {
  background: @CommentColor;
}

div.catItemCommentsLink span.arrow {
  background: url(../../../images/themes/green/arrown-down-orange.png);
}

// -------------------
// Kunena Forums
// -------------------

body #Kunena #ktab ul.menu li a:hover,body #Kunena #ktab ul.menu li a:focus{
  background: #77bb44;
}

body #Kunena #ktab ul.menu li.active a,body #Kunena #ktab li#current.selected a{
  background-color: #77bb44;
}


.kprofileboxcnt .k_guest b{
  color: #77bb44;
}

#Kunena .button:hover,
#Kunena .button:focus,
#Kunena .button:active,
#Kunena .kbutton:hover,
#Kunena .kbutton:focus,
#Kunena .kbutton:active,
#Kunena #kbutton_addvideo1:hover,
#Kunena #kbutton_addvideo1:focus,
#Kunena #kbutton_addvideo1:active,
#Kunena #kbutton_addvideo2:hover,
#Kunena #kbutton_addvideo2:focus,
#Kunena #kbutton_addvideo2:active,
#Kunena #kbbcode-link-options input[type="button"]:hover,
#Kunena #kbbcode-image-options input[type="button"]:hover{
  background-color: #8bc75e;
  background-image: -webkit-gradient(linear,to bottom, #8bc75e, #77bb44);
  background-image: -webkit-linear-gradient(to bottom, #8bc75e, #77bb44);
  background-image: -moz-linear-gradient(to bottom, #8bc75e, #77bb44);
  background-image: -ms-linear-gradient(to bottom, #8bc75e, #77bb44);
  background-image: -o-linear-gradient(to bottom, #8bc75e, #77bb44);
  border: solid 1px #8bc75e;
}

#Kunena .kfile-input:hover,#Kunena .kfile-input:active,#Kunena .kfile-input:focus{
  background: #77bb44;
}

#Kunena .kheader h2{
  background: #77bb44;
}

#Kunena .kpagination a:link,
#Kunena .kpagination a:visited,
#Kunena .kpagination a,
#Kunena .kpagination span{
  color: #77bb44;
  color: #fff;
}

#Kunena .kpagination a:hover,#Kunena .kpagination span{
  background: #77bb44;
  border-color: #77bb44;
}


#Kunena .kwho-admin{
  color: #77bb44;
}

#Kunena div#khistory tr.ksth a{
  color: #77bb44;
}

#Kunena div.kthead-title a:hover,#Kunena div.kthead-title a:focus,#Kunena div.kthead-title a:active{
  color: #77bb44;
}


#Kunena dl.tabs dt.open{
  color: #77bb44 !important;
}

#Kunena dl.tabs dt:hover{
  background: #77bb44;
}

#Kunena table.kprofilebox .kprofileboxcnt .klink-block a:hover,
#Kunena table.kprofilebox .kprofileboxcnt .klink-block a:focus,
#Kunena table.kprofilebox .kprofileboxcnt .klink-block a:active{
  background-image: url(../../../images/themes/green/bullet-hover.png);
  color: #77bb44;
}

#Kunena span.krss:hover{
  background-image: url(../../../images/themes/green/rss-hover.png);
}
