
// Accent colors
// -------------------------
@baseColor:                       #77bb44;
@highlightColor:                  #936540;
@CommentColor:                    @orange;
// Scaffolding
// -------------------------


// Links
// -------------------------


// Typography
// -------------------------



// Navbar   
// -------------------------


// Buttons
// -------------------------


// Forms
// -------------------------


// Hr border color
// -------------------------

//
// T3 LOGO
// --------------------------------------------------


//
// JA MITIUS CUSTOM VARIABLES
// --------------------------------------------------

// Tabs Modules Styles
// -------------------------
@TabsAccordionActive:            @baseColor;
@TabsBackgroundActive:            @baseColor;

